<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/thymeleaf.css}">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

<head>
    <meta charset="UTF-8" />
    <title>Hello Controller</title>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="col-lg-4">
            <h1 style="font-family: 'Segoe UI'; margin-bottom: 25px;">Tracks</h1>
            <div class="row1">
                <div class="row-sm-2" th:each="track:${tracks}">
                    <h5 class="card-title" style="font-family: 'Segoe UI'" th:text="${track.getName()}"></h5>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <h1 style="font-family: 'Segoe UI'; margin-bottom: 25px;">Artists</h1>
            <div class="row2">
                <div class="row-sm-2" th:each="artist:${artists}">
                    <h5 class="card-title" style="font-family: 'Segoe UI'" th:text="${artist.getName()}"></h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h1 style="font-family: 'Segoe UI'; margin-bottom: 25px;">Genres</h1>
            <div class="row3">
                <div class="row-sm-2" th:each="genre:${genres}">
                    <h5 class="card-title" style="font-family: 'Segoe UI'" th:text="${genre.getName()}"></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 50px">
    <form th:action="@{/search}" method="get" th:id="form">
        <label for="search">Search tracks: </label>
        <input id="search" required name="searchTerm" th:name="query">
        <button type="submit" class="btn btn-primary btn-xs">Search</button>
    </form>
</div>



</body>
</html>