<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <!--<div class="h-100" style="height: 800px;">
            <div class="h-100">
                <div class="card" style="width: 18rem;" th:each="track:${tracks}">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:text="${track.getTrackName()}">Cras justo odio</li>
                        <li class="list-group-item" th:text="${track.getArtist()}">Dapibus ac facilisis in</li>
                        <li class="list-group-item" th:text="${track.getAlbum()}">Dapibus ac facilisis in</li>
                        <li class="list-group-item" th:text="${track.getGenre()}">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
        </div>-->
        <!--<div class="container border border-info">
            <div class="panel panel-primary" style="width: 250px;" th:each="track:${tracks}">
                <div class="panel-heading" >
                    <h4 class="panel-title" th:text="${track.getTrackName()}">Song name</h4>
                </div>
                <div class="panel-body">
                    <ul style="list-style: none; margin: 0; padding: 0;">
                        <li th:text="${track.getArtist()}">Artist</li>
                        <li th:text="${track.getAlbum()}">Album</li>
                        <li th:text="${track.getGenre()}">Genre</li>
                    </ul>

                </div>
            </div>
        </div>-->

        <div class="table-responsive" style="width: 800px; margin: 0 auto;">
            <table class="table table-striped">
                <tr style="position: sticky; top: 0px;  " >
                    <th style="font-family: 'Segoe UI';">Song</th>
                    <th style="font-family: 'Segoe UI';">Artist</th>
                    <th style="font-family: 'Segoe UI';">Album</th>
                    <th style="font-family: 'Segoe UI';">Genre</th>
                </tr>


                <tr th:each="track:${tracks}">
                    <td style="font-family: 'Segoe UI';" th:text="${track.getTrackName()}">Song1</td>
                    <td style="font-family: 'Segoe UI';" th:text="${track.getArtist()}">Artist1</td>
                    <td style="font-family: 'Segoe UI';" th:text="${track.getAlbum()}">Album1</td>
                    <td style="font-family: 'Segoe UI';" th:text="${track.getGenre()}">Genre1</td>
                </tr>



            </table>

        </div>


</body>
</html>